[submodule "zsh/oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/pack/syntax/start/plantuml-syntax"]
	path = vim/pack/syntax/start/plantuml-syntax
	url = git@github.com:aklt/plantuml-syntax.git
