[submodule "zsh/oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/pack/syntax/start/plantuml-syntax"]
	path = vim/pack/syntax/start/plantuml-syntax
	url = git@github.com:aklt/plantuml-syntax.git
[submodule "vim/pack/packages/start/open-browser.vim"]
	path = vim/pack/packages/start/open-browser.vim
	url = git@github.com:tyru/open-browser.vim.git
[submodule "vim/pack/packages/start/vim-tmux-navigator"]
	path = vim/pack/packages/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/pack/packages/start/coc.nvim"]
	path = vim/pack/packages/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "vim/pack/packages/start/fugitive"]
	path = vim/pack/packages/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
